.navbar{
    display:flex;
    justify-content: space-between;
    height:40px;
    width:100%;
    background-color: #0099cc;
    align-items:center
}
ul{
    display:flex;
    gap:40px;
    font-size:20px;
    margin-right: 6px;
    
}
li{
    list-style:none;
}
a{
    text-decoration:none;
    color:white;
    font-weight: bold;
}
.toggle{
    display:none;
    flex-direction: column;
    gap:10px;
}
.bar{
    width:20px;
    height: 5px;
    background-color:white;


}
@media(max-width:500px)
{
  
    ul{
        flex-direction: column;
    }
    .navbar{
        height:256px;
    }
}